<div class="welcome">
  <div class="box-tagline">
    <%= image_tag('bitcoinage-tagline.png') %>
  </div>
    <div class="welcome-button box-container">
    <div class="bt-sl-solid-l down out"></div>
    <div class="bt-sl-solid-r down out"></div>
    <div class="bt-slider-0 bt-slide-l out"></div>
    <div class="bt-slider-1 bt-slide-l out"></div>
    <div class="bt-slider-2 bt-slide-l out"></div>
    <div class="bt-slider-3 bt-slide-l out"></div>
    <div class="bt-slider-4 bt-slide-l out"></div>
    <%= link_to 'Sign In', user_sign_in_path, class: "button-custom out lin-t" %>
    </div>
</div>
