@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

.welcome {
  background-image: url("http://i.imgur.com/9Xb7iED.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.float-right {
  float: right;
}

.form-wrapper {
  width: 50%;
  margin-left: 30%;
}

.tabs-wrapper {
  width: 75%;
  margin-left: 18%;
  padding-right: 11%;
}

.tab-left-element {
  float: left;
  overflow: auto;
  text-align: center;
  font-size: 1em;
  padding-left: 2em;
}

.tab-middle-element {
  float: left;
  overflow: auto;
  text-align: center;
  font-size: 1em;
  padding-left: 8.5em;
}

.tab-right-element {
  float: right;
  text-align: center;
  font-size: 1em;
  padding-right: 2em;
}

.tab-bottom-element {
  position: relative;
  text-align: center;
  padding-top: 2em;
  font-size: 2em;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.flash-container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
    }

.bitcoins-buy {
  color: #216C2A;
}

.bitcoins-sell {
  color: #8A0707;
}

.notice, .alert p {
  margin-bottom: 0;
}

.notice, .alert {
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

a {
  text-decoration: none;
  @include transition( all, 200ms, ease-in );
}

.lin-t {
	  @include transition( all, 300ms, linear );
}

.button-custom {
	  font-family: 'Verdana', sans-serif;
	  text-align: center;
	  padding: 50px 50px;
	  color: white;
    font-size: 20px;
	  text-transform: uppercase;
}

.welcome-button {
	  position: fixed;
	  top: 88%;
	  left: 47%;
	  margin-left: -78px;
	  @include transition( all, 600ms, ease-in );

	  a {
		    line-height: 30px;
		    @include opacity( 1 );
		    @include transition( all, 600ms, ease-in );

		  &.out {
			    @include opacity( 0 );
	  	}
	}

	  &.out {
		    @include opacity( 0 );
	  }

}

[class*='bt-slider-'] {
	  left: 100%;
	  position: absolute;
	  height: 100%;
	  border-left: 1px solid white;
	  z-index: 1000;
	  @include opacity( 1 );

	  &.out {
		    @include opacity( 0 );
	  }
}

.bt-slide-l {
  left: 0;
}

.bt-slider-0 { @include transition( all, 200ms, ease-in ); }
.bt-slider-1 { @include transition( all, 800ms, ease-in ); }
.bt-slider-2 { @include transition( all, 300ms, ease-in ); }
.bt-slider-3 { @include transition( all, 500ms, ease-in ); }
.bt-slider-4 { @include transition( all, 1000ms, ease-in ); }

.bt-sl-solid-l {
	  position: absolute;
	  left: 0;
	  height: 100%;
	  border-left: 2px solid orange;
	  z-index: 1001;
	  @include transition( all, 500ms, ease-in-out );

	  &.out {
		    left: 50%;
	  }

	  &.down {
		    height: 0%;
	  }
}

.bt-sl-solid-r {
	  position: absolute;
	  right: -1px;
	  height: 100%;
	  border-left: 2px solid orange;
	  z-index: 1001;
	  @include transition( all, 500ms, ease-in-out );

	  &.out {
		    right: 50%;
	  }

	  &.down {
		    height: 0%;
	  }
}

.box-tagline {
  text-align: center;
  top: 10%;
}

.transaction-info {
  padding-left: 30%;
  padding-right: 30%;
  word-break: break-all;
}
