<% provide(:title, 'Edit Transaction') %>
<div class="form-wrapper">
  <div class="text-center">
    <h2>Edit Transaction</h2>
  </div>
  <%= render "transactions/form", transaction: @transaction %>
</div>
