<% provide(:title, 'Add New Transaction') %>
<div class="form-wrapper">
  <div class="text-center">
    <h2>Add A New Transaction</h2>
  </div>
  <%= render "transactions/form", transaction: @transaction %>
</div>
